# https://docs.gitea.io/en-us/install-with-docker/#managing-deployments-with-environment-variables

USER_UID=1000
USER_GID=1000

GITEA__server__DOMAIN={{ gitea_host }}
GITEA__server__ROOT_URL=https://{{ gitea_host }}
GITEA__server__LOCAL_ROOT_URL=http://{{ gitea_service_id }}:3000
GITEA__server__SSH_DOMAIN={{ gitea_host }}
GITEA__server__SSH_PORT={{ ssh_port }}

GITEA__database__DB_TYPE=mysql
GITEA__database__HOST=gitea-db:{{ gitea_db_port }}
GITEA__database__NAME={{ gitea_db }}
GITEA__database__USER={{ gitea_user }}
GITEA__database__PASSWD={{ gitea_user_password }}

GITEA__service__DISABLE_REGISTRATION=true
GITEA__service__DEFAULT_KEEP_EMAIL_PRIVATE=true
GITEA__service__DEFAULT_ALLOW_CREATE_ORGANIZATION=false

GITEA__picture__DISABLE_GRAVATAR=true
GITEA__picture__ENABLE_FEDERATED_AVATAR=false