# https://raw.githubusercontent.com/firefly-iii/firefly-iii/main/.env.example

SITE_OWNER={{ user_email }}

DEFAULT_LANGUAGE={{ system_language }}
DEFAULT_LOCALE={{ system_locale }}
TZ={{ system_timezone }}

DB_CONNECTION=mysql
DB_DATABASE={{ fireflyiii_db }}
DB_HOST={{ fireflyiii_service_id }}-db
DB_USERNAME={{ fireflyiii_user }}
DB_PORT={{ fireflyiii_db_port }}
DB_PASSWORD={{ fireflyiii_user_password }}
APP_KEY={{ fireflyiii_app_key }}

TRUSTED_PROXIES=**
# Use 'web' if debugging on localhost, the header and email settings should also be disabled in this case
AUTHENTICATION_GUARD=remote_user_guard
AUTHENTICATION_GUARD_HEADER=Remote-User
AUTHENTICATION_GUARD_EMAIL=Remote-Email

STATIC_CRON_TOKEN={{ fireflyiii_cron_token }}

# TODO: check if runnable with redis
# If you're looking for performance improvements, you could install memcached or redis
# CACHE_DRIVER=file
# SESSION_DRIVER=file
# REDIS_HOST=127.0.0.1
# REDIS_PORT=6379
# REDIS_PASSWORD=null
# REDIS_DB="0"
# REDIS_CACHE_DB="1"

DKR_CHECK_SQLITE=false
